body {
    background-color: #eee;
    text-align: center;
    color: #252202f1;
    margin-left: 0px;
    margin-right: 0px;
}

#cabecera {
    background-color: #003;
    color: white;
    border: 1px solid #009;

}

#footer {
    background-color: #09f;
    color: aliceblue;
}

#footer p{
    margin: 0px;
}
